<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Set Details</title>
</head>

<body>

    <%- include('partials/navbar', { page: '' }) %>

    <div class="container mx-auto mt-8">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold"><%= set.name %></h1>
                    <p class="py-6">Below, you will find detailed information about the set: <%= set.name %></p>
                </div>
            </div>
        </div>

        <br />

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
                <img class="w-full rounded-lg" src="<%= set.img_url %>" alt="<%= set.name %> Image" />
            </div>
            <div class="prose">
                <p>
                    <span class="font-bold">Set Name: </span> <%= set.name %> <br />
                    <span class="font-bold">Year Released: </span> <%= set.year %> <br />
                    <span class="font-bold">Theme: </span> <%= set.theme %> <br />
                    <span class="font-bold">Number of Parts: </span> <%= set.num_parts %> <br /><br />

                    <div id="quote" class="mt-4"></div>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            fetch('https://quotable.io/random')
                                .then(response => response.json())
                                .then(data => {
                                    const quoteElement = document.getElementById('quote');
                                    quoteElement.innerHTML = `<span class="font-bold">Quote:</span> "${data.content}"<br />- <em>${data.author}</em>`;
                                })
                                .catch(error => console.error('Error fetching quote:', error));
                        });
                    </script>

                    <br /><br />

                    <!-- Edit Button (Displayed only if there is an active user session) -->
                    <% if(session.user){ %>
                        <a href="/lego/editSet/<%= set.set_num %>" class="btn btn-success mt-4">Edit</a>
                    <% } %>

                    <a href="#" onclick="history.back(); return false;" class="btn btn-primary mt-4">RETURN</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
